list of misc. stuff to install and look over whenever i inevitadblely restart my system

total 124
drwx------ 1 sebvu sebvu  1212 Dec 25 09:09 ..
drwx------ 1 sebvu sebvu  7048 Dec 25 09:05 google-chrome
drwxr-xr-x 1 sebvu sebvu  1192 Dec 25 09:04 .
lrwxrwxrwx 1 sebvu sebvu    33 Dec 25 09:04 starship.toml -> ../dotfiles/.config/starship.toml
drwxr-xr-x 1 sebvu sebvu    78 Dec 25 09:00 wlogout
drwxr-xr-x 1 sebvu sebvu    58 Dec 25 08:59 spotify-player
drwxr-xr-x 1 sebvu sebvu    56 Dec 25 08:58 rofi
drwxr-xr-x 1 sebvu sebvu    40 Dec 25 08:56 kitty
drwxr-xr-x 1 sebvu sebvu    46 Dec 25 08:55 btop
drwxr-xr-x 1 sebvu sebvu    66 Dec 25 08:51 kde.org
dr-xr-xr-x 1 sebvu sebvu    32 Dec 25 08:38 tmux
dr-xr-xr-x 1 sebvu sebvu    32 Dec 25 08:34 tmux.bak
drwxr-xr-x 1 sebvu sebvu   126 Dec 25 08:32 nvim
drwxr-xr-x 1 sebvu sebvu    90 Dec 25 08:23 waybar
drwxr-xr-x 1 sebvu sebvu   300 Dec 25 08:22 hypr.bak
drwxr-xr-x 1 sebvu sebvu   126 Dec 25 08:22 nvim.bak
drwxr-xr-x 1 sebvu sebvu   300 Dec 25 08:07 hypr
drwxr-xr-x 1 sebvu sebvu    46 Dec 25 07:38 session
drwx------ 1 sebvu sebvu   226 Dec 25 06:59 vesktop
drwxr-xr-x 1 sebvu sebvu    24 Dec 25 04:36 dunst
-rw-r--r-- 1 sebvu sebvu   108 Dec 24 18:58 pavucontrol.ini
drwxr-xr-x 1 sebvu sebvu    12 Dec 24 15:14 nwg-displays
-rw------- 1 sebvu sebvu   508 Dec 23 16:28 dolphinrc
drwx------ 1 sebvu sebvu     8 Dec 23 13:17 dconf
drwx------ 1 sebvu sebvu   474 Dec  8 04:00 Popcorn-Time
drwx------ 1 sebvu sebvu   574 Nov 30 01:45 teams-for-linux
drwxr-xr-x 1 sebvu sebvu  4244 Nov 30 01:40 discord
-rw------- 1 sebvu sebvu   633 Nov 29 13:44 user-dirs.dirs
-rw-r--r-- 1 sebvu sebvu     5 Nov 29 13:44 user-dirs.locale
drwxr-xr-x 1 sebvu sebvu    90 Nov 29 01:59 obs-studio
drwx------ 1 sebvu sebvu   644 Nov 21 22:49 figma-linux
-rw-r--r-- 1 sebvu sebvu   168 Nov 21 22:47 mimeapps.list
drwxr-xr-x 1 sebvu sebvu    30 Nov 18 01:13 Kitware
-rw-r--r-- 1 sebvu sebvu   887 Nov 18 01:11 QtProject.conf
drwxr-xr-x 1 sebvu sebvu    54 Oct 29 19:14 thefuck
drwxr-x--x 1 sebvu sebvu   248 Oct  8 19:27 inkscape
-rw-r--r-- 1 sebvu sebvu 19887 Oct  6 10:51 tlp.conf.bak
drwxr-xr-x 1 sebvu sebvu    22 Oct  5 19:16 create-next-app-nodejs
drwxr-xr-x 1 sebvu sebvu    22 Oct  5 16:02 nextjs-nodejs
drwx------ 1 sebvu sebvu   726 Sep 24 17:29 Code - OSS
drwxr-xr-x 1 sebvu sebvu    64 Sep 22 20:46 Notepadqq
drwxr-xr-x 1 sebvu sebvu    42 Sep 10 00:44 simple-update-notifier
drwx------ 1 sebvu sebvu  1266 Sep  2 23:38 WebCord
drwxr-xr-x 1 sebvu sebvu    52 Aug 28 12:53 vlc
drwx------ 1 sebvu sebvu   122 Aug 26 16:09 filezilla
drwxr-xr-x 1 sebvu sebvu    18 Aug 15 13:46 go
drwxr-x--x 1 sebvu sebvu    38 Aug  8 22:04 gh
-rw------- 1 sebvu sebvu   109 Aug  5 00:42 ktrashrc
-rw------- 1 sebvu sebvu    38 Aug  5 00:42 kdeglobals
-rw------- 1 sebvu sebvu   127 Aug  5 00:41 kiorc
-rw------- 1 sebvu sebvu   623 Aug  2 23:12 baloofileinformationrc
drwx------ 1 sebvu sebvu    38 Jul 26 00:15 menus
drwx------ 1 sebvu sebvu     0 Jul 25 17:28 mpv
-rw------- 1 sebvu sebvu    38 Jul 20 16:23 filetypesrc
drwxr-xr-x 1 sebvu sebvu     2 Jul 15 01:44 libreoffice
drwxr-xr-x 1 sebvu sebvu    22 Jul 12 00:41 neofetch
drwxr-xr-x 1 sebvu sebvu    42 Jun 29 02:21 wal
drwxr-xr-x 1 sebvu sebvu     0 Jun 26 00:35 yay
drwxr-xr-x 1 sebvu sebvu    18 Jun 25  2024 composer
drwxr-xr-x 1 sebvu sebvu    32 Jun 22  2024 fastfetch
drwxr-xr-x 1 sebvu sebvu    70 Jun 22  2024 alacritty
drwx------ 1 sebvu sebvu     0 Jun 22  2024 procps
drwx------ 1 sebvu sebvu     0 Jun 22  2024 gtk-3.0
drwxr-x--- 1 sebvu sebvu    34 Jun 21  2024 BetterDiscord
drwx------ 1 sebvu sebvu    46 Jun 21  2024 github-copilot
drwx------ 1 sebvu sebvu     0 Jun 21  2024 Electron
-rw------- 1 sebvu sebvu    21 Jun 21  2024 trashrc
drwx------ 1 sebvu sebvu    12 Jun 21  2024 pulse
drwxr-xr-x 1 sebvu sebvu     8 Jun 20  2024 systemd


include roblox stuff (umu-launcher, etc..)
file manager (dolphin)
fonts (jetbrains mono, whatever is specified in kitty)
discord 
yay
python
a lot.. you'll find out as you use your computer

- some new stuff!
blender

be sure to install a LOT of deps
