@import "main.rasi"

element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        200px;
    cursor:                      inherit;
}

